@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Signika:wght@300&display=swap');

/* All blocks with zero box model */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Default paragraph and headings styling */
p {
    font-family: Signika, Georgia, sans-serif;
    font-size: 110%;
    color: #1b1b1b;
}

h1,
h2 {
    font-family: 'Roboto Slab', Georgia, sans-serif;
    font-size: 150%;
    color: #1b1b1b;
}

h3,
h4 {
    font-family: 'Roboto Slab', Georgia, sans-serif;
    font-size: 120%;
    color: #1b1b1b;
}

/* header styling as sticky */
header {
    position: sticky;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
}

header>div {
    background-color: #fff;
    width: 100%;
    height: 70px;
}

/*Styling the logo*/

#logo {
    font-family: 'Roboto Slab', Georgia, sans-serif;
    text-decoration: none;
    font-weight: 150%;
    font-size: 150%;
    float: left;
}

#logo h1 {
    margin: 10px 0 0px 15px;
}

/* Styling the main navegation menu */


#main-menu {
    text-align: right;
    float: right;
}

#main-menu ul {
    list-style-type: none;

}

#main-menu li {
    margin-right: 20px;
    display: inline;
    font-family: Signika, Georgia, sans-serif;
}

#main-menu a {
    text-decoration: none;
    font-size: 120%;
    line-height: 70px;
    color: #1b1b1b;
}

.current-page {
    border: 2px solid #000000;
    padding: 3px;
}

/* hero image */

#hero-image-section {
    width: 100%;
    height: 70vh;
    background: url('../images/hero-image.webp') center center/ cover no-repeat;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

#hero-image-section div {
    position: absolute;
    color: #fff;
    top: 50px;
    width: 800px;
    height: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

#hero-image-section>div>h2 {
    color: #fff;
}

/* Mission section */

#mission-section {
    width: 100%;
    height: 500px;
    text-align: center;
}

#mission-section>h2 {
    margin: 50px auto 40px auto;
}


#mission-container {
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content: space-evenly;
}

#mission-left {
    margin: 0 auto 0 auto;
}

#mission-right {
    background: url('../images/mission-photo.webp') center center / cover no-repeat;
    border-radius: 3%;
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
}

#mission-section h3 {
    margin: 20px auto 10px auto;
}

#mission-section p {
    margin: 0 20px 10px 20px;
    text-align: justify;
}

/* applications section */

#applications-section {
    width: 100%;
    height: 500px;
    text-align: center;
    margin-bottom: 20px;
}

.three-column-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;

}

#applications-left {
    background: url('../images/drill.webp') center center / cover no-repeat;
}

#applications-center {
    background: url('../images/protein_gels.webp') center center / cover no-repeat;
}

#applications-right {
    background: url('../images/surface.webp') center center / cover no-repeat;
}

.three-column-container-size {
    border-radius: 3%;
    width: 90%;
    height: 80%;
    margin: 0 auto 0 auto;
}

#applications-section>h2 {
    margin: 50px auto 30px auto;
}

#applications-section h3 {
    margin: 0 auto 5px auto;
}


#applications-section a {
    color: #1b1b1b;
    text-decoration: none;
    font-size: 150%;
}

#applications-link {
    width: 200px;
}

/* testimony section */

#testimony-section {
    width: 100%;
    height: 400px;
    text-align: center;
}

#testimony-section>h2 {
    margin: 50px auto 30px auto;
}

#testimony-section h3 {
    margin: 0 auto 5px auto;
}

#testimony-section h4 {
    margin: 5px auto 20px auto;
}

#testimony-section .three-column-container div {
    border-style: outset;
    padding: 10px;
}

/* footer area */

footer {
    width: 100%;
    height: 200px;
    background-color: #1b1b1b;
    margin-top: 20px;
    padding: 30px 0 30px 0;
    text-align: center;
}

#footer-contact-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    width: 90%;
    height: 50%;
    margin: 0 auto 20px auto;

}

footer h4 {
    margin-bottom: 20px;
    color: #fff;
}

footer a {
    color: #fff;
    font-size: 200%;
    margin-left: 50px;
    margin-right: 50px;
}

footer li {
    display: inline;
}

footer p {
    color: #fff;
}

#socials {

    text-align: center;
}

/* applications page mechanical section */

#app-page-mech {
    width: 100%;
    height: 400px;
    text-align: center;
    margin-bottom: 20px;
}

#app-page-center-mech {
    background: url('../images/cogwheel.webp') center center / cover no-repeat;
}

/* applications page biocompatible section */

#app-page-bio {
    width: 100%;
    height: 400px;
    text-align: center;
    margin-bottom: 20px;
}

#app-page-left-bio {
    background: url('../images/food.webp') center center / cover no-repeat;

}



#app-page-right-bio {
    background: url('../images/soap.webp') center center / cover no-repeat;

}

#app-page-mech>h2,
#app-page-bio>h2 {
    margin: 50px auto 30px auto;
}

#app-page-mech h3,
#app-page-bio h3 {
    margin: 0 auto 5px auto;
}

#app-page-mech p,
#app-page-bio p {
    margin: 0 20px 10px 20px;
    text-align: justify;
}

/* Queries page */

#form-section {
    text-align: center;
    clear: both;
}

#form-section h2 {
    position: relative;

}

fieldset {
    border: 1px solid #1b1b1b;
    width: 350px;
    margin: 10px auto 10px auto;
    height: 890px;
    text-align: left;
    border-radius: 5px;
}

legend {
    margin-left: 20px;
}

input,
select,
textarea {
    border: 1px solid #1b1b1b;
}

label {
    margin: 10px 0 10px 20px;
    width: 100%;
    font-family: Signika, Georgia, sans-serif;
}

input,
select {
    width: 70%;
    height: 25px;
    margin: 10px 0 10px 20px;
    padding: 3px;
}

textarea {
    position: relative;
    left: 20px;
    top: 10px;
    resize: none;
    padding: 5px;
}

button {
    width: 70px;
    height: 30px;
    margin: 20px 0 10px 20px;
    background-color: #1b1b1b;
    color: #fff;
    font-family: Signika, Georgia, sans-serif;
}

button:hover {
    background-color: #3300ff;
    color: #fff;
}

#footer-dummy {
    position: absolute;
    bottom: 0;
}


/* responsive commands */

@media screen and (max-width:1200px) {
    .three-column-container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-evenly;
        width: 100%;
        height: 70%;

    }

    #applications-section {
        width: 100%;
        height: 400px;
        text-align: center;
        margin-bottom: 20px;
    }


}

/* tablets */

@media screen and (max-width:950px) {
    .three-column-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
        justify-content: space-evenly;
        width: 100%;
        height: 90%;

    }

    #applications-section {
        width: 100%;
        height: 1200px;
        text-align: center;
        margin-bottom: 20px;
    }

    .three-column-container-size {
        border-radius: 3%;
        width: 350px;
        height: 90%;
        margin: 0 auto 0 auto;
    }

    #testimony-section {
        width: 100%;
        height: 1000px;
        text-align: center;
    }

    #testimony-section .three-column-container div {
        border-style: outset;
        padding: 10px;
        width:400px;
        margin:10px auto 10px auto;
    }

    #app-page-mech {
        width: 100%;
        height: 1200px;
        text-align: center;
        margin-bottom: 20px;
    }

    #app-page-bio {
        width: 100%;
        height: 1200px;
        text-align: center;
        margin-bottom: 20px;
    }

}